Unit 7 | Assignment - Distinguishing Sentiments

Background

Twitter has become a wildly sprawling jungle of information‚Äî140 characters at a time. Somewhere between 350 million and 500 million tweets are estimated to be sent out per day. With such an explosion of data, on Twitter and elsewhere, it becomes more important than ever to tame it in some way, to concisely capture the essence of the data.

Choose one of the following two assignments, in which you will do just that. Good luck!

News Mood

In this assignment, you'll create a Python script to perform a sentiment analysis of the Twitter activity of various news oulets, and to present your findings visually.

Your final output should provide a visualized summary of the sentiments expressed in Tweets sent out by the following news organizations: BBC, CBS, CNN, Fox, and New York times.

output_10_0.png

output_13_1.png

The first plot will be and/or feature the following:

Be a scatter plot of sentiments of the last 100 tweets sent out by each news organization, ranging from -1.0 to 1.0, where a score of 0 expresses a neutral sentiment, -1 the most negative sentiment possible, and +1 the most positive sentiment possible.
Each plot point will reflect the compound sentiment of a tweet.
Sort each plot point by its relative timestamp.
The second plot will be a bar plot visualizing the overall sentiments of the last 100 tweets from each organization. For this plot, you will again aggregate the compound sentiments analyzed by VADER.

The tools of the trade you will need for your task as a data analyst include the following: tweepy, pandas, matplotlib, seaborn, textblob, and VADER.

Your final Jupyter notebook must:

Pull last 100 tweets from each outlet.
Perform a sentiment analysis with the compound, positive, neutral, and negative scoring for each tweet.
Pull into a DataFrame the tweet's source acount, its text, its date, and its compound, positive, neutral, and negative sentiment scores.
Export the data in the DataFrame into a CSV file.
Save PNG images for each plot.
As final considerations:

Use the Matplotlib and Seaborn libraries.
Include a written description of three observable trends based on the data.
Include proper labeling of your plots, including plot titles (with date of analysis) and axes labels.
Include an exported markdown version of your Notebook called README.md in your GitHub repository.
PlotBot

In this activity, more challenging than the last, you will build a Twitter bot that sends out visualized sentiment analysis of a Twitter account's recent tweets.

Visit https://twitter.com/PlotBot5 for an example of what your script should do.

The bot receives tweets via mentions and in turn performs sentiment analysis on the most recent twitter account specified in the mention

For example, when a user tweets, "@PlotBot Analyze: @CNN," it will trigger a sentiment analysis on the CNN twitter feed.

A plot from the sentiment analysis is then tweeted to the PlotBot5 twitter feed. See below for examples of scatter plots you will generate:

@juanitasoranno.png @nancypwong.png nytimes.png

Hints, requirements, and considerations:

Your bot should scan your account every five minutes for mentions.
Your bot should pull 500 most recent tweets to analyze for each incoming request.
Your script should prevent abuse by analyzing only Twitter accounts that have not previously been analyzed.
Your plot should include meaningful legend and labels.
It should also mention the Twitter account name of the requesting user.
When submitting your assignment, be sure to have at least three analyses tweeted out from your account (enlist the help of classmates, friends, or family, if necessary!).
Notable libraries used to complete this application include: Matplotlib, Pandas, Tweepy, TextBlob, and Seaborn.
You may find it helpful to organize your code in function(s), then call them.
If you're not yet familiar with creating functions in Python, here is a tutorial you may wish to consult: https://www.tutorialspoint.com/python/python_functions.htm.

In [26]:
# Dependencies
import tweepy
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json

# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

# Twitter API Keys
from config import (consumer_key, 
                    consumer_secret, 
                    access_token, 
                    access_token_secret)

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [140]:
# Target Search Term
target_user =("@BBC", "@CNN", "@CBS","@FoxNews", "@nytimes")

In [141]:
# Counter
counter = 1

# Variables for holding sentiments
sentiments = {"BBC": [],
              "CNN":[],
              "CBS":[],
              "FOX":[],
              "NYT":[]}
BBC_sentiments = []
CNN_sentiments = []
CBS_sentiments = []
Fox_sentiments = []
NYT_sentiments = []


for target in target_user:
     print(f"Tweets for {target}.")

Tweets for @BBC.
Tweets for @CNN.
Tweets for @CBS.
Tweets for @FoxNews.
Tweets for @nytimes.

In [150]:
target_user =("@BBC", "@CNN", "@CBS","@FoxNews", "@nytimes")
counter = 1

for target in target_user:
    print(f"Tweets for {target}.")
    counter = 1 
    
    for x in range(5):
        response = api.user_timeline(target, page=x)
    
        for tweet in range(20):
       
        # Get all tweets from home feed
           # public_tweets = api.user_timeline(target, page=x)
            tweets =response[tweet]["text"]
            print(f"Tweet{counter}: {tweets}")
        #print(json.dumps(public_tweets, sort_keys=True, indent=4))
        
            counter +=1

Tweets for @BBC.
Tweet1: How do you teach your kids which secrets are good and which are bad?
This animation is designed to help children sp‚Ä¶ https://t.co/MZueuZgePj
Tweet2: This drone footage of Iceland will remind you how wonderful our planet is. üåà üèî https://t.co/9x5xszQthZ https://t.co/HjTSaD8344
Tweet3: 'We very much learnt as we went along.' @WiggyWalsh on writing #Motherland with @SharonHorgan, @GLinner and Helen L‚Ä¶ https://t.co/pJRw7Oe56z
Tweet4: üåé For those who think the Earth is a disc instead of a sphere, there is the @FlatEarthOrg International Conference.‚Ä¶ https://t.co/n8Vgs10iMB
Tweet5: 'When you start accepting the things that may seem like imperfections, they turn out to be perfect in the end.' Via‚Ä¶ https://t.co/g1hRhWLRhx
Tweet6: RT @bbcthree: 13 year old Jack wants to prove disabled people shouldn't be written off. https://t.co/PW7vc2T3cp
Tweet7: What do you see when you look at this picture? https://t.co/Fi1JJRFYhK https://t.co/XtKnTXw0Aw
Tweet8: RT @BBCNews: London buses to be powered by coffee https://t.co/9jFMc4fMyy
Tweet9: RT @BBCEarth: Every feed is a family effort for these giants of the sea üêã
#BluePlanet2 https://t.co/DkK96imCiT
Tweet10: Jason Mamoa speaks Dothraki. üòç Via @BBCOne. https://t.co/YjJEARLTCi
Tweet11: From Justin Bieber to The Beatles, here are 8 of the most disastrous tours in music history. üé∂ üò≥‚Ä¶ https://t.co/IufMhgzhG7
Tweet12: üé¨ @JimCarrey stars in the biopic of controversial comedian Andy Kaufman. Man on the Moon is available on‚Ä¶ https://t.co/rS0Sou22u5
Tweet13: üé® Ten female artists from around the world that should be on your radar. https://t.co/iFXHGQC7LC https://t.co/nz6z5GD1bL
Tweet14: Is David the happiest traffic warden in Scotland?

Catch up on #TheCountryCouncil on @BBCiPlayer üëâ‚Ä¶ https://t.co/yIPgJ26W2H
Tweet15: Australians have overwhelmingly voted in favour of legalising same-sex marriage in a historic poll. üè≥Ô∏è‚Äçüåà‚Ä¶ https://t.co/4sPwrGH6Ta
Tweet16: How @SimonCowell stepped in to pay for a young dancer‚Äôs scoliosis surgery. Via @BBC5Live. https://t.co/DMTefMhk91
Tweet17: This Australian island with pink lakes and spectacular marine life was discovered by accident. Via @BBC_Travel. üá¶üá∫‚Ä¶ https://t.co/mbEkjML5bn
Tweet18: ‚è∞ üò¥ If it takes six alarm clocks and a strong cup of coffee to get you out of bed, you need to read this. Eight way‚Ä¶ https://t.co/dAQx85QB4O
Tweet19: When Tantor the elephant cracked his tusk, it took 30 people to give him root canal surgery. üêò Via @BBC5Live. https://t.co/R0236y3kcg
Tweet20: Think our Novembers are a bit chilly? This is what it's like to grow up in -60C. üå® ‚ùÑÔ∏è https://t.co/ABRhquy09B https://t.co/YO5CJmSmdX
Tweet21: How do you teach your kids which secrets are good and which are bad?
This animation is designed to help children sp‚Ä¶ https://t.co/MZueuZgePj
Tweet22: This drone footage of Iceland will remind you how wonderful our planet is. üåà üèî https://t.co/9x5xszQthZ https://t.co/HjTSaD8344
Tweet23: 'We very much learnt as we went along.' @WiggyWalsh on writing #Motherland with @SharonHorgan, @GLinner and Helen L‚Ä¶ https://t.co/pJRw7Oe56z
Tweet24: üåé For those who think the Earth is a disc instead of a sphere, there is the @FlatEarthOrg International Conference.‚Ä¶ https://t.co/n8Vgs10iMB
Tweet25: 'When you start accepting the things that may seem like imperfections, they turn out to be perfect in the end.' Via‚Ä¶ https://t.co/g1hRhWLRhx
Tweet26: RT @bbcthree: 13 year old Jack wants to prove disabled people shouldn't be written off. https://t.co/PW7vc2T3cp
Tweet27: What do you see when you look at this picture? https://t.co/Fi1JJRFYhK https://t.co/XtKnTXw0Aw
Tweet28: RT @BBCNews: London buses to be powered by coffee https://t.co/9jFMc4fMyy
Tweet29: RT @BBCEarth: Every feed is a family effort for these giants of the sea üêã
#BluePlanet2 https://t.co/DkK96imCiT
Tweet30: Jason Mamoa speaks Dothraki. üòç Via @BBCOne. https://t.co/YjJEARLTCi
Tweet31: From Justin Bieber to The Beatles, here are 8 of the most disastrous tours in music history. üé∂ üò≥‚Ä¶ https://t.co/IufMhgzhG7
Tweet32: üé¨ @JimCarrey stars in the biopic of controversial comedian Andy Kaufman. Man on the Moon is available on‚Ä¶ https://t.co/rS0Sou22u5
Tweet33: üé® Ten female artists from around the world that should be on your radar. https://t.co/iFXHGQC7LC https://t.co/nz6z5GD1bL
Tweet34: Is David the happiest traffic warden in Scotland?

Catch up on #TheCountryCouncil on @BBCiPlayer üëâ‚Ä¶ https://t.co/yIPgJ26W2H
Tweet35: Australians have overwhelmingly voted in favour of legalising same-sex marriage in a historic poll. üè≥Ô∏è‚Äçüåà‚Ä¶ https://t.co/4sPwrGH6Ta
Tweet36: How @SimonCowell stepped in to pay for a young dancer‚Äôs scoliosis surgery. Via @BBC5Live. https://t.co/DMTefMhk91
Tweet37: This Australian island with pink lakes and spectacular marine life was discovered by accident. Via @BBC_Travel. üá¶üá∫‚Ä¶ https://t.co/mbEkjML5bn
Tweet38: ‚è∞ üò¥ If it takes six alarm clocks and a strong cup of coffee to get you out of bed, you need to read this. Eight way‚Ä¶ https://t.co/dAQx85QB4O
Tweet39: When Tantor the elephant cracked his tusk, it took 30 people to give him root canal surgery. üêò Via @BBC5Live. https://t.co/R0236y3kcg
Tweet40: Think our Novembers are a bit chilly? This is what it's like to grow up in -60C. üå® ‚ùÑÔ∏è https://t.co/ABRhquy09B https://t.co/YO5CJmSmdX
Tweets for @CNN.
Tweet1: Follow the latest updates on Zimbabwe President Mugabe: Will he resign or be forced out? https://t.co/iO9kaGbUfh https://t.co/OvGXIEa7p6
Tweet2: Zimbabwe's ruling party has expelled Robert Mugabe as its chief and set a Monday deadline for the leader to end his‚Ä¶ https://t.co/FaJq9xfoaZ
Tweet3: Republican Sen. Susan Collins said she does not believe Alabama Republican Senate candidate Roy Moore's denials of‚Ä¶ https://t.co/9112BrYu5I
Tweet4: Jesse Brown battled poverty and racism to become the US Navy's first black pilot. Two of his biggest allies were wh‚Ä¶ https://t.co/wLWTvO53qS
Tweet5: Media Matters President Angelo Carusone explains why he's leading an advertising boycott against Sean Hannity https://t.co/07LDd6Rm9P
Tweet6: David Cassidy, the '70s heartthrob who shot to fame when he starred in "The Partridge Family," is in critical condi‚Ä¶ https://t.co/oOTb3sdq32
Tweet7: "It was pretty obvious it was a media photo op" says Jacquelyn Martin, the photographer behind the Mnuchin 'money s‚Ä¶ https://t.co/irn5DGPmRF
Tweet8: "Saturday Night Live" takes on Senator, and former 'SNL' performer, Al Franken in their "Weekend Update"‚Ä¶ https://t.co/hR9UkLnsyW
Tweet9: Zimbabwe's military have given Robert Mugabe two choices: Resign or be forced out. Follow the latest developments v‚Ä¶ https://t.co/Ymts5Qe489
Tweet10: Washingtonian's Elaina Plott: Trump's silence on Roy Moore is "pure tribalism... Ultimately Roy Moore is someone wh‚Ä¶ https://t.co/AGej291NCx
Tweet11: RT @ReliableSources: Alabama's biggest papers urge voters to 'reject Roy Moore' but the Washingtonian's Elaina Plot says many of Moore's su‚Ä¶
Tweet12: Salman Rushdie: The tide is turning against Islamic fanaticism; it's still a cancer within Islam, but it's "having‚Ä¶ https://t.co/dFdzqIakEZ
Tweet13: "Come Back Barack" sings "Saturday Night Live" host Chance the Rapper in a show full of musical numbers‚Ä¶ https://t.co/oXpn4QXcQP
Tweet14: More than 16,000 scientists have signed a dire warning to humanity advising that we need to fix our environmental p‚Ä¶ https://t.co/BW4woVrVKK
Tweet15: Billionaire Ray Dalio is calling code red on the US economy after a study finds America's 3 richest men have more w‚Ä¶ https://t.co/Xq7FQnYrGZ
Tweet16: RT @ReliableSources: Today's guest list:
@GoAngelo
@elainaplott
@acvollers
@Jacquelyn_M
@WJCarter
@ciullalipkin
@mffisher
@TonyAtamanuik
11‚Ä¶
Tweet17: Pope Francis wants you to do him a favor. The next time you're in Mass ‚Äî put down your cell phone.‚Ä¶ https://t.co/QFBBIAKTYH
Tweet18: CNN's @FareedZakaria: President Trump is backing Saudi Arabia &amp; that could be dangerous https://t.co/9LNyhQV1mK
Tweet19: A new NASA tool can tell you which glacier may flood your city as the planet warms https://t.co/9hUH3im7b2 https://t.co/vaypFEtmQU
Tweet20: More than 16,000 scientists have signed a dire warning to humanity advising that we need to fix our environmental p‚Ä¶ https://t.co/pQnar9qgnx

Tweet21: Follow the latest updates on Zimbabwe President Mugabe: Will he resign or be forced out? https://t.co/iO9kaGbUfh https://t.co/OvGXIEa7p6
Tweet22: Zimbabwe's ruling party has expelled Robert Mugabe as its chief and set a Monday deadline for the leader to end his‚Ä¶ https://t.co/FaJq9xfoaZ
Tweet23: Republican Sen. Susan Collins said she does not believe Alabama Republican Senate candidate Roy Moore's denials of‚Ä¶ https://t.co/9112BrYu5I
Tweet24: Jesse Brown battled poverty and racism to become the US Navy's first black pilot. Two of his biggest allies were wh‚Ä¶ https://t.co/wLWTvO53qS
Tweet25: Media Matters President Angelo Carusone explains why he's leading an advertising boycott against Sean Hannity https://t.co/07LDd6Rm9P
Tweet26: David Cassidy, the '70s heartthrob who shot to fame when he starred in "The Partridge Family," is in critical condi‚Ä¶ https://t.co/oOTb3sdq32
Tweet27: "It was pretty obvious it was a media photo op" says Jacquelyn Martin, the photographer behind the Mnuchin 'money s‚Ä¶ https://t.co/irn5DGPmRF
Tweet28: "Saturday Night Live" takes on Senator, and former 'SNL' performer, Al Franken in their "Weekend Update"‚Ä¶ https://t.co/hR9UkLnsyW
Tweet29: Zimbabwe's military have given Robert Mugabe two choices: Resign or be forced out. Follow the latest developments v‚Ä¶ https://t.co/Ymts5Qe489
Tweet30: Washingtonian's Elaina Plott: Trump's silence on Roy Moore is "pure tribalism... Ultimately Roy Moore is someone wh‚Ä¶ https://t.co/AGej291NCx
Tweet31: RT @ReliableSources: Alabama's biggest papers urge voters to 'reject Roy Moore' but the Washingtonian's Elaina Plot says many of Moore's su‚Ä¶
Tweet32: Salman Rushdie: The tide is turning against Islamic fanaticism; it's still a cancer within Islam, but it's "having‚Ä¶ https://t.co/dFdzqIakEZ
Tweet33: "Come Back Barack" sings "Saturday Night Live" host Chance the Rapper in a show full of musical numbers‚Ä¶ https://t.co/oXpn4QXcQP
Tweet34: More than 16,000 scientists have signed a dire warning to humanity advising that we need to fix our environmental p‚Ä¶ https://t.co/BW4woVrVKK
Tweet35: Billionaire Ray Dalio is calling code red on the US economy after a study finds America's 3 richest men have more w‚Ä¶ https://t.co/Xq7FQnYrGZ
Tweet36: RT @ReliableSources: Today's guest list:
@GoAngelo
@elainaplott
@acvollers
@Jacquelyn_M
@WJCarter
@ciullalipkin
@mffisher
@TonyAtamanuik
11‚Ä¶
Tweet37: Pope Francis wants you to do him a favor. The next time you're in Mass ‚Äî put down your cell phone.‚Ä¶ https://t.co/QFBBIAKTYH
Tweet38: CNN's @FareedZakaria: President Trump is backing Saudi Arabia &amp; that could be dangerous https://t.co/9LNyhQV1mK
Tweet39: A new NASA tool can tell you which glacier may flood your city as the planet warms https://t.co/9hUH3im7b2 https://t.co/vaypFEtmQU
Tweet40: More than 16,000 scientists have signed a dire warning to humanity advising that we need to fix our environmental p‚Ä¶ https://t.co/pQnar9qgnx

In [197]:
target_user =("@BBC", "@CNN", "@CBS","@FoxNews", "@nytimes")

counter = 100

sentiments = pd.DataFrame(columns = ["Name","Tweet Count","Compound Score"])  #Empty Dataframe
                          
for target in target_user:
    #print(f"Tweets for {target}.")
    counter = 100
    for x in range(5):
        response = api.user_timeline(target, page=x)
    
        for tweet in range(20):
       
        # Get all tweets from home feed
           # public_tweets = api.user_timeline(target, page=x)
            tweets =response[tweet]["text"]
            name = response[tweet]["user"]["name"]
            #print(f"Tweet{counter}: {tweets}")
        #print(json.dumps(public_tweets, sort_keys=True, indent=4))
            results = analyzer.polarity_scores(tweets)
            compound = results["compound"]
            sentiments=sentiments.append({"Name":name, "Tweet Count": counter,"Compound Score": compound}, ignore_index=True)              
            # weather_df =weather_df.append({"Name":name,"Latitude":lat,"Longitude":lon,"Max Temp":temp, "Humidity":humidity,"Cloudiness":clouds,"Wind Speed":wind,"Date":date}, ignore_index=True)
       
            
            #print(f"tweet{counter}: {name}:{tweets} : {compound}")
            counter -=1

In [199]:
sentiments.tail(100)

                   Name Tweet Count  Compound Score
400  The New York Times         100          0.0000
401  The New York Times          99          0.2023
402  The New York Times          98         -0.6124
403  The New York Times          97          0.7351
404  The New York Times          96          0.4767
405  The New York Times          95          0.0056
406  The New York Times          94          0.3612
407  The New York Times          93          0.2023
408  The New York Times          92          0.0000
409  The New York Times          91          0.7964
410  The New York Times          90          0.7776
411  The New York Times          89         -0.3818
412  The New York Times          88         -0.2732
413  The New York Times          87          0.0000
414  The New York Times          86          0.8074
415  The New York Times          85         -0.5423
416  The New York Times          84         -0.5859
417  The New York Times          83         -0.2960
418  The New York Times          82          0.1531
419  The New York Times          81          0.0000
420  The New York Times          80          0.0000
421  The New York Times          79          0.2023
422  The New York Times          78         -0.6124
423  The New York Times          77          0.7351
424  The New York Times          76          0.4767
425  The New York Times          75          0.0056
426  The New York Times          74          0.3612
427  The New York Times          73          0.2023
428  The New York Times          72          0.0000
429  The New York Times          71          0.7964
..                  ...         ...             ...
470  The New York Times          30          0.4404
471  The New York Times          29          0.0000
472  The New York Times          28         -0.5267
473  The New York Times          27         -0.2960
474  The New York Times          26          0.0772
475  The New York Times          25          0.4939
476  The New York Times          24          0.1779
477  The New York Times          23          0.6597
478  The New York Times          22          0.0000
479  The New York Times          21          0.6124
480  The New York Times          20          0.0000
481  The New York Times          19          0.3612
482  The New York Times          18          0.0000
483  The New York Times          17          0.0000
484  The New York Times          16         -0.2960
485  The New York Times          15          0.0000
486  The New York Times          14         -0.8020
487  The New York Times          13         -0.5859
488  The New York Times          12          0.4767
489  The New York Times          11          0.0000
490  The New York Times          10          0.2732
491  The New York Times           9         -0.5994
492  The New York Times           8         -0.5106
493  The New York Times           7          0.0000
494  The New York Times           6          0.4588
495  The New York Times           5         -0.4404
496  The New York Times           4          0.0000
497  The New York Times           3          0.5423
498  The New York Times           2         -0.2023
499  The New York Times           1          0.0000

[100 rows x 3 columns]

In [192]:
print(compound)

0.0

In [ ]:
# Convert sentiments to DataFrame
sentiments_pd = pd.DataFrame.from_dict(sentiments)
sentiments_pd.head()

In [ ]:
# Obtain the x and y coordinates for each of the three city types
urban_cities = city_ride_data[city_ride_data["type"] == "Urban"]
suburban_cities = city_ride_data[city_ride_data["type"] == "Suburban"]
rural_cities = city_ride_data[city_ride_data["type"] == "Rural"]

urban_ride_count = urban_cities.groupby(["city"]).count()["ride_id"]
urban_avg_fare = urban_cities.groupby(["city"]).mean()["fare"]
urban_driver_count = urban_cities.groupby(["city"]).mean()["driver_count"]

suburban_ride_count = suburban_cities.groupby(["city"]).count()["ride_id"]
suburban_avg_fare = suburban_cities.groupby(["city"]).mean()["fare"]
suburban_driver_count = suburban_cities.groupby(["city"]).mean()["driver_count"]

rural_ride_count = rural_cities.groupby(["city"]).count()["ride_id"]
rural_avg_fare = rural_cities.groupby(["city"]).mean()["fare"]
rural_driver_count = rural_cities.groupby(["city"]).mean()["driver_count"]

In [ ]:
plt.plot(np.arange(len(sentiments_pd["Compound"])),
         sentiments_pd["Compound"], marker="o", linewidth=0.5,
         alpha=0.8)

# # Incorporate the other graph properties
now = datetime.now()
now = now.strftime("%Y-%m-%d %H:%M")
plt.title("Sentiment Analysis of Tweets ({}) for {}".format(now, target_user))
plt.ylabel("Tweet Polarity")
plt.xlabel("Tweets Ago")
plt.show()

In [ ]:
# Build the scatter plots for each city types
plt.scatter(urban_ride_count, 
            urban_avg_fare, 
            s=10*urban_driver_count, c="coral", 
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Urban")

plt.scatter(suburban_ride_count, 
            suburban_avg_fare, 
            s=10*suburban_driver_count, c="skyblue", 
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Suburban")

plt.scatter(rural_ride_count, 
            rural_avg_fare, 
            s=10*rural_driver_count, c="gold", 
            edgecolor="black", linewidths=1, marker="o", 
            alpha=0.8, label="Rural")

# Incorporate the other graph properties
plt.title("Pyber Ride Sharing Data (2016)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Rides (Per City)")
plt.xlim((0,40))
plt.grid(True)

# Create a legend
lgnd = plt.legend(fontsize="small", mode="Expanded", 
                  numpoints=1, scatterpoints=1, 
                  loc="best", title="City Types", 
                  labelspacing=0.5)
lgnd.legendHandles[0]._sizes = [30]
lgnd.legendHandles[1]._sizes = [30]
lgnd.legendHandles[2]._sizes = [30]

# Incorporate a text label regarding circle size
plt.text(42, 35, "Note:\nCircle size correlates with driver count per city.")

# Save Figure
plt.savefig("analysis/Fig1.png")

# Show plot
plt.show()